.app-footer {
    background-color: black;
    color: white;
    padding: 32px 220px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    .informacoes-gerais img {
        max-width: 161.84px;
        height: 40px;
    }

    .redes-sociais {
        display: flex;
        justify-content: space-between;
    }
    
    .container-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

