<footer class="app-footer">
    <app-container class="container-footer">
        <div class="informacoes-gerais">
            <img src="assets/imagens/logo-com-tagline.png" alt="Logo com tagline"/>
            <p>Horário de atendimento: 08h - 20h (Segunda a Sábado)</p>
            <p>Desenvolvido Por Alura. Projeto fictício sem fins comerciais.</p>
        </div>
        <div>
            <p>Acesse nossas redes:</p>
            <div class="redes-sociais">
                <img src="assets/icones/whatsapp.png" alt="Logo whatsapp"/>
                <img src="assets/icones/instagram.png" alt="Logo instagram"/>
                <img src="assets/icones/twitter.png" alt="Logo twitter"/>
            </div>
        </div>
    </app-container>
</footer>